<link rel="stylesheet" href="/css/footer.css">
<script src="/js/global.js" defer></script>

<footer class="site-footer">
    <ul class="site-footer__nav">
        <li class="site-footer__item">
            <a class="site-footer__link" href="#">About</a>
        </li>
        <li class="site-footer__item">
            <a class="site-footer__link" href="#">Linkedin</a>
        </li>
        <li class="site-footer__item">
            <a class="site-footer__link" href="">YouTube</a>
        </li>
        <li class="site-footer__item">
            <a class="site-footer__link" href="#">Contact</a>
        </li>
    </ul>
</footer>
