<link rel="stylesheet" href="/css/nav.css" />
<script src="/js/global.js" defer></script>

<header class="header">
    <nav class="nav">
        <img
                src="/img/ecocycle.png"
                alt="Eco Cycle Logo"
                class="nav__logo"
                id="logo"
        />
        <ul class="nav__links">
            <li class="nav__item">
                <a class="nav__link" href="#section--1">About</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#section--2">Podcast</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#section--3">Contact</a>
            </li>
            <li class="nav__item">
                <a class="nav__link btn--show-modal" href="#">Connect</a>
            </li>
        </ul>
    </nav>

    <div class="header__title">
        <!-- <h1 onclick="alert('HTML alert')"> -->
        <h1>Eco-Cycle </h1>
        <p> One of the largest non-profit recyclers in the US, with a reputation as a pioneer and innovator in resource conservation </p>
        <button class="btn--text btn--scroll-to">Learn more &DownArrow;</button>
        <img
                src="/img/homepage-image.jpg"
                class="header__img"
                alt="Eco Cycle"
        />
    </div>
</header>