<!DOCTYPE html>
<html lang="en">
<body>
<header>
    <%- include('partials/header') %>
</header>
<main>
    <%- body %>
</main>
<footer>
    <%- include('partials/footer') %>
</footer>
</body>
</html>