<div>
    <h1>Edit Funding Source</h1>
    <a href="/admin/fundings">Back to Funding Sources</a>

    <% if (typeof funding !== 'undefined' && funding) { %>
        <form id="editFundingForm">
            <div>
                <strong>ID:</strong>
                <span id="fundingId"><%= funding.fid %></span>
            </div>

            <div>
                <label for="fName">Name:</label>
                <input
                        type="text"
                        id="fName"
                        name="fName"
                        value="<%= funding.fname %>"
                        required
                >
            </div>
            <div>
                <label for="fCode">Code (optional):</label>
                <input
                        type="text"
                        id="fCode"
                        name="fCode"
                        value="<%= funding.fcode != null ? funding.fcode : '' %>"
                >
            </div>

            <button type="submit">Update</button>
        </form>
    <% } else { %>
        <p>Funding not found</p>
    <% } %>
</div>