<%- include('../partials/head.ejs') %>
<div>
    <h1>Admin Console Panel</h1>

    <p>You have been authorized to see the admin console panel. Welcome!</p>

    <hr>

    <p><b>Future iterations would allow us to pull in data and display it here. That feature is currently under development.</b></p>

    <button class="btn--text btn--scroll-to" >
        <a href="/">Back Home</a>
    </button>
</div>
