<link rel="stylesheet" href="/css/homepage/admin-login.css">
<body>
<div class="container">
    <div class="admin-login-container">
        <h1>Admin Login</h1>
        <form id="loginForm" action="/admin/login" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <div id="errorMessage" class="error-message"></div>
    </div>
</div>
</body>
