<%- include('../partials/head.ejs') %>
<div>
    <h1>Admin Error Page</h1>

    <p>Potential admin credentials have been detected, however, please enter credentials again.</p>

    <hr>
    <button class="btn--text btn--scroll-to" >
        <a href="/login">Back To Login</a>
    </button>

    <button class="btn--text btn--scroll-to" >
        <a href="/">Back Home</a>
    </button>
</div>
