<%- include('../partials/head.ejs') %>
<div>
    <h1>Admin Error Page</h1>

    <p> The credentials you entered are incorrect. Please try again. </p>

    <hr>
    <button class="btn--text btn--scroll-to" >
        <a href="/admin/login">Back To Login</a>
    </button>

    <button class="btn--text btn--scroll-to" >
        <a href="/">Back Home</a>
    </button>
</div>
