<!-- <link rel="stylesheet" href="/css/home.css" />
<link rel="stylesheet" href="/css/footer.css" />
<script src="/js/global.js" defer></script>-->
<!-- Image credit: 
<a href="https://www.freepik.com/free-vector/save-planet-concept-illustration-with-man-woman_7765929.htm#fromView=search&page=1&position=10&uuid=88ed664d-f4eb-4ce8-886c-c0316f9d1ad6">Image by freepik</a>
<a href="https://www.freepik.com/free-vector/save-planet-concept-with-people-taking-care-earth_7824979.htm#fromView=search&page=1&position=0&uuid=88ed664d-f4eb-4ce8-886c-c0316f9d1ad6">Image by freepik</a>
<a href="https://www.freepik.com/free-vector/save-planet-concept_7877554.htm#fromView=search&page=1&position=30&uuid=88ed664d-f4eb-4ce8-886c-c0316f9d1ad6">Image by freepik</a>
-->
<!-- 
<link rel="stylesheet" href="/css/nav.css" />
<script src="/js/global.js" defer></script>

<header class="header">
    <nav class="nav">
        <img
                src="/img/ecocycle.png"
                alt="Eco Cycle Logo"
                class="nav__logo"
                id="logo"
        />
        <ul class="nav__links">
            <li class="nav__item">
                <a class="nav__link" href="#">About</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="/login">Login</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="header__title"> -->
        <!-- <h1 onclick="alert('HTML alert')"> --><!--
        <h1>Eco-Cycle </h1>
        <p> One of the largest non-profit recyclers in the US, with a reputation as a pioneer and innovator in resource conservation </p>
        <button class="btn--text btn--scroll-to">Learn more &DownArrow;</button>
        <img
                src="/img/homepage-image.jpg"
                class="header__img"
                alt="Eco Cycle"
        />
    </div>
</header>

<section class="section" id="section--1">
    <div class="section__title">
        <h2 class="section__description">Sample Text</h2>
        <h3 class="section__header"> Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit </h3>
    </div>

    <div class="features">
        <img
                src="img/image1-lazy.jpg"
                data-src="/img/image1.jpg"
                alt="Eco Cycle"
                class="features__img lazy-img"
        />
        <div class="features__feature">
            <h5 class="features__header">Sample Text</h5>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>

        <div class="features__feature">
            <h5 class="features__header">Sample Text</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <img
                src="img/image2-lazy.jpg"
                data-src="/img/image2.jpg"
                alt="Eco Cycle"
                class="features__img lazy-img"
        />

        <img
                src="img/image3-lazy.jpg"
                data-src="/img/image3.jpg"
                alt="Eco Cycle"
                class="features__img lazy-img"
        />
        <div class="features__feature">
            <h5 class="features__header">Sample Text </h5>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
    </div>
</section>

<footer class="site-footer">
    <ul class="site-footer__nav">
        <li class="site-footer__item">
            <a class="site-footer__link" href="#">About</a>
        </li>
        <li class="site-footer__item">
            <a class="site-footer__link" href="#">Linkedin</a>
        </li>
        <li class="site-footer__item">
            <a class="site-footer__link" href="">YouTube</a>
        </li>
        <li class="site-footer__item">
            <a class="site-footer__link" href="#">Contact</a>
        </li>
    </ul>
</footer> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco-Cycle</title>
    <link rel="stylesheet" href="/css/home1.css" />
    <script src="/js/global.js" defer></script>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <img src="/img/ecocycle.png" alt="Eco Cycle Logo" class="nav__logo" id="logo" />
            <ul class="nav__links">
                <li class="nav__item">
                    <a class="nav__link" href="#">About</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/login">Login</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Contact</a>
                </li>
            </ul>
        </nav>

        <div class="header__title">
            <h1>Eco-Cycle</h1>
            <p>One of the largest non-profit recyclers in the US, pioneering resource conservation.</p>
            <button class="btn--text btn--scroll-to" onclick="document.getElementById('features-section').scrollIntoView({ behavior: 'smooth' })">
                Learn more &DownArrow;
            </button>
            <!-- Moving image -->
            <div class="header__moving-image"></div>
        </div>
    </header>

    <section class="section" id="features-section" id="section--1">
        <div class="section__title">
            <h2 class="section__description">Our Mission</h2>
            <h3 class="section__header">Pioneering Resource Conservation for a Sustainable Future</h3>
        </div>

        <div class="features">
            <img src="img/image1-lazy.jpg" data-src="/img/image1.jpg" alt="Eco Cycle" class="features__img lazy-img" />
            <div class="features__feature">
                <h5 class="features__header">Innovative Recycling Programs</h5>
                <p>We are dedicated to innovating in the field of resource conservation, promoting sustainable solutions for waste management.</p>
            </div>

            <div class="features__feature">
                <h5 class="features__header">Community Impact</h5>
                <p>Our programs aim to bring about real-world change by educating and engaging communities in eco-friendly practices.</p>
            </div>
            <img src="/img/image2.jpg" alt="Eco Cycle" class="features__img" />
            <img src="/img/image3.jpg" alt="Eco Cycle" class="features__img" />

            <div class="features__feature">
                <h5 class="features__header">Environmental Leadership</h5>
                <p>We lead the way in environmental advocacy, inspiring others to join the cause of sustainability and conservation.</p>
            </div>

            <div class="features__feature">
                <h5 class="features__header">Sustainable Product Design</h5>
                <p>We focus on developing products that minimize environmental impact, utilizing renewable resources and designing for end-of-life recyclability.</p>
            </div>
            <img src="/img/image4.jpg" alt="Eco Cycle" class="features__img" />

        </div>
    </section>

    <footer class="site-footer">
        <ul class="site-footer__nav">
            <li class="site-footer__item">
                <a class="site-footer__link" href="#">About</a>
            </li>
            <li class="site-footer__item">
                <a class="site-footer__link" href="#">LinkedIn</a>
            </li>
            <li class="site-footer__item">
                <a class="site-footer__link" href="#">YouTube</a>
            </li>
            <li class="site-footer__item">
                <a class="site-footer__link" href="#">Contact</a>
            </li>
        </ul>
    </footer>
</body>
</html>
